<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for scheduling a Q&A session!</title>
</head>
<body>
    <div class="text-block">Your Q: {{ name }}</div>
	<div class="text-block">Date: {{ meeting.date }}</div>
	<div class="text-block">Time: {{ meeting.time }}</div>
	<div class="text-block">When it's time for your meeting, copy and paste the link below:</div>
	<div class="text-block">{{ meeting.url }}</div>
	<div class="text-block">Thanks,</div>
	<div class="text-block">The team at Quadrant Company</div>
</body>
</html>