{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
  <div class="section cc-home-wrap">
    <div class="div-block-35">
      <div class="text-block-37">The Quadrant Company</div>
      <div>For health industry leaders who need subject matter expertise ondemand, The Quadrant Company is a global network of content experts with actionable knowledge in an area of your choice. Unlike bulky management consulting firms, we are immediately accessible through the web at a price that doesn't break the bank. We exist to provide and expand access to knowledge and experience in health care to industry leaders who need it.</div>
    </div>
    <div class="div-block-35">
      <div class="text-block-37">Meet The Team</div>
      <div class="columns w-row">
        <div class="w-col w-col-2">
          <div class="div-block-36"><img src="{% static 'images/CEO.jpg' %}" loading="lazy" alt="" class="image-6"></div>
        </div>
        <div class="w-col w-col-10">
          <div class="div-block-37">
            <div class="text-block-38">Ellington Jones - CEO</div>
            <div>Vision: "​...a society where every community member can function at peak health and at their highest point of utility."​ I'm an enterprise Strategist & Service Line Executive evidenced in helping health system(s) grow market share, improve efficiency, profitability and physician engagement. I have leadership experience in facility operations, physician/hospital alignment strategies and value based models, each with positive results. My career goal is to eventually lead my own company and teach/mentor future health leaders. My life's mission is to relentlessly serve, and to do so with integrity.
</div>
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-2">
          <div class="div-block-36"><img src="{% static 'images/CTO.jpg' %}" loading="lazy" sizes="10vw" alt="" class="image-6"></div>
        </div>
        <div class="w-col w-col-10">
          <div class="div-block-37">
            <div class="text-block-38">Colton Hail - CTO</div>
            <div>An aerospace engineer turned software developer, I am passionate about engineering to make a difference. As the technical lead at Quadrant Company I'm working to build the framework to connect hospitals with the information they need, so that ultimately patient quality of care improves.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}